/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
}

.navbar + .main-content {
  padding-top: 56px; /* Ajuste conforme a altura da sua navbar */
  padding-bottom: 40px; /* Ajuste conforme a altura do footer */
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.footer {
  background-color: #e0e0e0;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Estilos específicos para páginas de login e registro */
.auth-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.auth-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-footer {
  margin-top: auto;
}

.card {
  margin-bottom: 1rem;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1.5rem;
  font-weight: bold;
}