node_modules
node_modules_
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
/node_modules
/node_modules/
/node_modules/*.*
/node_modules_
/node_modules_/
/node_modules/.bin
/node_modules_/*.*
*.md
*.cmd
*.ps1
