/* src/components/Public/Login.css */

.login-container {
  min-height: 100vh;
  background-color: #ffc107;
}


.footer {
  background-color: #e0e0e0;
  text-align: center;
  padding: 10px;
  width: 100%;
}
